.featureItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.featureImage {
  width: 73.6rem;
  height: 38.6rem;
}

.featureText {
  width: 41.6rem;
}

.featureText h3 {
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.4rem;
  font-family: Merriweather;
  color: #122867;
  margin-bottom: 4.8rem;
}

.featureText p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #111827;
}